/*generales*/
.navbar{
  padding: 20px 0;
}


footer{
  padding: 20px 0;
  text-align: center;
  margin-top: 90px;
  }
/*generales*/


/*layout*/


.estiloLogin{
  width: 400px ;
  padding: 25px;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  margin-top: 40px;
  position: relative;
  left: 300px;
  background-color: rgb(255, 255, 255)
}
/*layout*/

/*nosotros.php*/

.contenedorPrincipal a{
float:none;
width: 250px ;
color: black;
text-align: center;
}

li a:hover {
background-color: #CECCDC;
}

.contenedorSubVista{
  width: 800px ;
  padding: 25px;
  position: relative;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  margin-top: 35px;
  left: 200px;
  background-color: rgb(255, 255, 255)
}

/*nosotros.php*/

  
